<!DOCTYPE html>   
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <%# this is a test comment, just making sure it doesnt break anything %>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href="/users/new">Create a new user</a>  
    <% users.forEach(function(user) { %>
      <div>
       <a href="<%= `/users/${user.id}` %>"><%= user.firstName %></a>
        <form action='<%= `/users/${user.id}?_method=DELETE` %>' method='POST'>
          <button type='submit'>x</button>
        </form>
      </div>
    <% }); %>
  </body>
</html>

    