<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user details</title>
</head>
<h1>User Details</h1>
<div>email: <%= user.email %></div>
<div>last name: <%= user.lastName %></div>
<div>date of birth: <%= user.dob %></div>
<a href="<%= `/users/${user.id}/edit` %>"`>Edit user info</a>
<body>
	
</body>
</html>